// BS4 dropdown menu style overide
.dropdown-menu {
  border-radius: 0;
}

.dropdown-item {
  padding: 7px 20px;
  border-bottom: 1px solid $white-color;
}

.breadcrumb {
  background: $gray-100;
}

.card-footer {
  background: transparent;
  border-top-color: $gray-200;
}

.modal-header {
  padding: .5rem 1rem;
  h4 {
    margin: 0;
    line-height: 1;
    font-size: 18px;
  }
}

h2 {
  margin: 0 0 20px;
}

.modal-danger .close,
.modal-warning .close,
.modal-primary .close {
  color: $white-color;
}

.search-bar {
  width: auto;
  button,
  input {
    border: none;
  }
  button {
    &:hover {
      background: transparent;
      color: $gray-800;
    }
  }
  input {
    @media(min-width: 768px) {
      min-width: 400px;
    }
    &:focus {
      box-shadow: none;
      border: none;
      border-bottom: 1px solid $gray-300;
    }
  }
  .input-group {
    padding-bottom: 1px;
    &:before {
      content: '';
      width: 0;
      position: absolute;
      left: 0;
      bottom: 0;
      transition: .2s all ease-in-out;
      border-bottom: 1px solid $gray-300;
      z-index: 2;
    }
    &.bordered:before {
      width: 100%;
      transition: .2s all ease-in-out;
    }
  }
}

.gradient-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,232e3a+100&0+0,1+100 */
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(35, 46, 58, 1) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(35, 46, 58, 1) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(35, 46, 58, 1) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#232e3a', GradientType=0);
  /* IE6-9 */
}

.card.event-grid__card {
  border: none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  .card-top-img {
    position: relative;
    margin: -1.25rem -1.25rem 10px;
    height: 180px;
    overflow: hidden;
    img {
      max-width: 100%;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      position: absolute;
    }
  }
  .event-name {
    font-size: 24px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.4;
    white-space: nowrap;
    margin-bottom: 10px;
    color: $sidebar-bg;
    &:hover {
      color: $blue-color;
      text-decoration: none;
    }
  }
  .event-info {
    .event-info__item {
      font-size: 14px;
      color: $sidebar-bg;
      button {
        border: none;
        background: none;
        padding: 0;
        color: $blue-color;
      }
      * {
        display: inline-block;
        vertical-align: middle;
      }
      .popped {
        display: none;
      }
    }
  }
  .card-footer {
    padding: 0;
    display: flex;
    flex: 1;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      height: 100%;
      border-left: 1px solid $gray-200;
    }
    .btns {
      // width: 50%;
      font-size: 16px;
      font-weight: 600;
      color: $blue-color;
      background: none;
      text-transform: uppercase;
      text-align: center;
      width: 50%;
      border: none !important;
      padding-top: 10px;
      padding-bottom: 10px;
      &.del {
        color: #E74C3C;
      }
      &:hover {
        background: $gray-100;
      }
    }
  }
  .event-short-stats {
    position: absolute;
    bottom: 0;
    z-index: 3;
    padding: 15px;
    color: $white-color;
    right: 0;
    .chart-wrapper {
      width: 80px;
    }
  }
}

.event-grid__card {
  h1 {
    color: $white-color;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 20px;
    bottom: 20px;
    z-index: 3;
    small {
      display: block;
      font-size: 18px;
      font-family: $cursive-font;
    }
  }
}

.popover {
  max-width: 550px;
}

.no-stats {
  color: inherit;
  line-height: 1;
  text-align: center;
  &.disabled {
    color: $gray-200;
  }
  &.green {
    color: $green-color;
  }
  .no-stats__big {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 3px;
  }
  .no-stats__small {
    font-size: 9px;
    font-weight: 600;
    text-transform: uppercase;
  }
}

// Easy Pie chart CSS
.chart {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 60px;
  text-align: center;
}

.chart canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.percent {
  display: inline-block;
  line-height: 60px;
  z-index: 2;
  font-weight: bold;
}

.percent:after {
  content: '%';
  margin-left: 0.1em;
  font-size: .8em;
  font-weight: bold;
}

// Login page
.login {
  display: flex;
  width: 100%;
  background: $blue-color;
  @media(min-width: 768px) {
    min-height: 100%;
  }
  .login__left,
  .login__right {
    width: 100%;
    @media(min-width: 768px) {
      width: 50%;
      min-height: 100%;
    }
  }
  .login__left {
    background: $blue-color url(../img/common/left-side.jpg) left top no-repeat;
    background-size: cover;
    @media(max-width: 768px) {
      display: none;
    }
  }
  .login__right {
    background: $white-color;
    min-height: none;
    position: relative;
    @media(max-width: 768px) {
      margin: 20px;
      background: $white-color;
      padding: 15px;
    }
  }
}

.right__content {
  width: 100%;
  max-width: 522px;
  .logo {
    max-width: 150px;
    margin: auto;
    display: block;
  }
  .r-content__desc {
    font-size: 18px;
    margin: 15px 0 30px;
    color: $gray-400;
  }
}

.login-form {
  .form-control {
    height: 45px !important;
  }
  .button-group {
    width: 100%;
    overflow: hidden;
  }
  .button-group .submit,
  .button-group .link {
    width: 49%;
    height: 45px;
    font-size: 16px;
    font-weight: 600;
  }
  .button-group .submit {
    float: right;
  }
  .button-group .link {
    float: left;
    padding-top: 10px;
  }
  .button-group button {
    width: 100%;
    height: 45px !important;
    font-size: 16px;
  }
}

.bottom-links {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  a {
    font-size: 13px;
    &:after {
      display: inline-block;
      vertical-align: middle;
      content: '';
      height: 11px;
      border-left: 1px solid $blue-color;
      margin: 0 10px;
    }
    &:last-child:after {
      display: none;
    }
  }
}

// .awselect
.awselect {
  border: 1px solid $gray-300;
  border-radius: 0.25rem;
  .front_face {
    padding: 0.375rem 0.75rem !important;
    border-radius: 0.25rem;
  }
}

.company-dropdown {
  min-width: 250px !important;
}

// event-page 
.event-background {
  width: 100%;
  min-height: 200px;
  overflow: hidden;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.event-desc-box {
  width: 100%;
  height: 100%;
  position: relative;
  background: #d5f7ff;
  border-radius: 3px;
  padding: 20px;
  .header {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    margin: 0 0 20px 0;
    color: #0e4450;
  }
  .content {
    font-size: 14px;
    color: #000000;
    text-align: center;
    padding: 0 20px;
  }
}

.sub-nav {
  margin-bottom: 10px;
  border-bottom: 1px solid $gray-100;
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 100%;
    @media screen and (min-width: 768px) {
      display: flex;
      align-items: center;
    }
  }
  a {
    display: block;
    padding: 15px 20px;
    font-size: 16px;
    font-weight: 600;
    color: $blue-color;
    transition: all ease-in .2s;
    &:hover, &.active {
      text-decoration: none;
      color: $green-color;
    }
  }
}

// data table 

.data-table th {
  background: #34495e;
  color: #ffffff;
}

.action-btn {
  background: none;
  border: 1px solid transparent; 
  font-size: 18px;
  position: relative;
  transition: all ease-in .2s;
  &:hover {
    background: transparent;
    transition: all ease-in .2s;
    border: 1px solid #dedede;
  }

  .icon-eye {
    color: $green-color;
  }

  .icon-pencil {
    color: $sidebar-bg;
  }

  .icon-trash {
    color: $red-color;
  }
}