{% set title = 'Billing' %} {% set Billing = true %}
<!-- base layout file inheritance -->
{% extends "layout.html" %} {% block content %}

<div class="container-fluid">
    <div class="animated fadeIn">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-lg-12">
                        <h1>{{ title }}</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}