{% set title = 'Event Home Page' %} {% set Event = true %}
<!-- base layout file inheritance -->
{% extends "layout.html" %} {% block content %}

<div class="container-fluid">
    <div class="animated fadeIn">
        <div class="card event-grid__card">
            <div class="event-background" id="event-background" style="background-image: url(img/events/engagement.jpg)">
                <!-- Breadcrumbs Include -->
                {% include "partials/event-page-top-info.html" %}
            </div>
            <nav class="sub-nav">
                <!-- Subnav Include -->
                {% include "partials/sub-nav.html" %}
            </nav>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-4 col mb-3">
                        <div class="event-desc-box">
                            <div class="header">Date</div>
                            <div class="content">From <span>2018-07-27 8:00</span><br/>
                                to <span>2018-07-27 12:00</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col mb-3">
                        <div class="event-desc-box">
                            <div class="header">Contact Details</div>
                            <div class="content">
                                <div class="mb-2">
                                    <a href="mailto:jashashika@gmail.com">
                                        <i class="icon icon-envelope pr-2"></i>jashashika@gmail.com</a>
                                </div>
                                <div>
                                    <a href="tel:718043596">
                                        <i class="icon icon-phone pr-2"></i>718043596</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col mb-3">
                        <div class="event-desc-box">
                            <div class="header">Venue</div>
                            <div class="content">
                                Bandaranaike Memorial International Conference Hall,
                                <br/>Colombo,
                                <br/>Sri Lanka
                            </div>
                        </div>
                    </div>
                </div>
                <div class="description-text mt-2">
                    <h3>Description</h3>
Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.<br/><br/>
                    <strong>Meal Plan</strong>
It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}