<div class="event-short-stats d-flex align-items-center">
        <div class="no-stats pr-4">
            <div class="no-stats__big">748</div>
            <div class="no-stats__small">Attendees</div>
        </div>
        <div class="no-stats pr-4 disabled">
            <div class="no-stats__big">583</div>
            <div class="no-stats__small">Checked In</div>
        </div>
        <div class="no-stats pr-2">
            <span class="chart" data-percent="70">
                <span class="percent">70</span>
                <canvas height="60" width="60"></canvas>
            </span>
        </div>
    </div>
    <h1>Rochelle's Wedding<small>Happening in 12 days</small></h1>
    <div class="gradient-bg"></div>