<div class="sidebar">
  <nav class="sidebar-nav">
    <ul class="nav">
      <li class="nav-title">Your Company</li>
      <li class="nav-title pt-0">
        <select class="form-control">
          <option value="Company 01" selected>Company 01</option>
          <option value="Company 01">Company 02</option>
          <option value="Company 03">Company 03</option>
          <option value="Company 04">Company 04</option>
        </select>
      </li>
      <li class="nav-title pt-0"></li>
      <li class="nav-title">Menu</li>
      <li class="nav-item">
        <a class="nav-link active" href="index.html">
          <i class="nav-icon icon-home"></i> Event List
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="nav-icon icon-plus"></i> Add New Event</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="nav-icon icon-calculator"></i> Billing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="nav-icon icon-calendar"></i> Calendar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="nav-icon icon-support"></i> Help Center</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="nav-icon icon-settings"></i> Settings</a>
      </li>
    </ul>
  </nav>
  <button class="sidebar-minimizer brand-minimizer" type="button"></button>
</div>