<ul>
        <li>
            <a href="event.html" {% if Event %}class="active"{% endif %}>
                <i class="icon-home pr-2"></i>Event Home</a>
        </li>
        <li>
            <a href="event-invitees.html" {% if EventInvitees %}class="active"{% endif %}>
                <i class="icon-people pr-2"></i>Invitees</a>
        </li>
        <li>
            <a href="" {% if EventEdit %}class="active"{% endif %}>
                <i class="icon-pencil pr-2"></i>Edit Event</a>
        </li>
        <li>
            <a href="" {% if EventAlert %}class="active"{% endif %}>
                <i class="icon-bell pr-2"></i>Add VIP Alert Receivers</a>
        </li>
        <li>
            <a href="" {% if EventStats %}class="active"{% endif %}>
                <i class="icon-chart pr-2"></i>Event Stats</a>
        </li>
        <li>
            <a href="" {% if EventBadge %}class="active"{% endif %}>
                <i class="icon-badge pr-2"></i>Create Badge</a>
        </li>
        <li>
            <a href="" {% if EventQA %}class="active"{% endif %}>
                <i class="icon-question pr-2"></i>Create Q & A</a>
        </li>
    </ul>