<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="E-CHECK IN - Check in made easy through web">
    <meta name="keyword" content="Check in, event organizing, event planning">
    <title>{{ title }}</title>
    <script src="js/pace.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rochester" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
    <!-- build:css css/main.min.css -->
    <link href="css/vendors/pace-progress/pace.css" rel="stylesheet">
    <link href="css/vendors/sweetalert2.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <!-- endbuild -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>

<body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">
    <!-- Header Include -->
    {% include "partials/header.html" %}
    <div class="app-body">
        <!-- SIdebar Include -->
        {% include "partials/left-sidebar.html" %}
        <main class="main">

            <!-- Breadcrumbs Include -->
            {% include "partials/breadcrumbs.html" %}

            <!-- Body Content -->
            {% block content %} {% endblock %}


        </main>
    </div>

    <!-- footer Include -->
    {% include "partials/footer.html" %}


    <!-- build:js js/scripts.min.js -->
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/perfect-scrollbar.min.js"></script>
    <script src="js/coreui.min.js"></script>
    <script src="js/jquery.easypiechart.js"></script>
    <script src="js/jquery.mask.min.js"></script>
    <script src="js/sweetalert2.all.min.js"></script>
    <!-- endbuild -->
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>

    <script src="js/main.js"></script>

</body>

</html>